asgiref==3.9.2 ; python_version >= "3.13" and python_version < "4.0"
django-cors-headers==4.9.0 ; python_version >= "3.13" and python_version < "4.0"
django-extensions==4.1 ; python_version >= "3.13" and python_version < "4.0"
django-filter==25.1 ; python_version >= "3.13" and python_version < "4.0"
django-redis==6.0.0 ; python_version >= "3.13" and python_version < "4.0"
django==5.2.7 ; python_version >= "3.13" and python_version < "4.0"
djangorestframework-simplejwt==5.5.1 ; python_version >= "3.13" and python_version < "4.0"
djangorestframework==3.16.1 ; python_version >= "3.13" and python_version < "4.0"
psycopg-binary==3.2.10 ; implementation_name != "pypy" and python_version >= "3.13" and python_version < "4.0"
psycopg[binary]==3.2.10 ; python_version >= "3.13" and python_version < "4.0"
pyjwt==2.10.1 ; python_version >= "3.13" and python_version < "4.0"
redis==6.4.0 ; python_version >= "3.13" and python_version < "4.0"
sqlparse==0.5.3 ; python_version >= "3.13" and python_version < "4.0"
tzdata==2025.2 ; python_version >= "3.13" and python_version < "4.0" and sys_platform == "win32"
